* {
    /* border: 1px solid red; */
}

.nav-wrapper {
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
}

.nav-list {
    width: 70%;
}

.nav-list-items {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.main-wrapper-img img{
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
}

.main-container1 {
    width: 100%;
    height: 400px;
    padding-top: 100px;
    color: white;      
    display: flex;  
    align-items: center;  
    padding: 20px;  
    background-color: rgba(0, 0, 0, 0.5)                                                                                                                                                                                             
}

.main-container1 img {
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: black;
}

.main-container2 {
    width: 100%;
    height: 300px;
    color: white;  
    display: flex;  
    align-items: center;  
    padding: 20px;   
    background-color: rgba(0, 0, 0, 0.5)     
}

.main-container2 img {
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: black;
}

.main-container3 {
    display: flex;
    width: 100%;
    height: 300px;
    color: white;  
    align-items: center; 
    padding: 20px;  
    background-color: rgba(0, 0, 0, 0.5)     
}

.main-container3 img {
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: black;
}

.main-container4 {
    display: flex;
    width: 100%;
    height: 300px;
    color: white; 
    align-items: center;  
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5)     
}

.main-container4 img {
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: black;
}

footer {
    background-color: black;
    color: white; 
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

h1 {
    padding: 10px;
}

h2 {
    padding: 10px;
}










